<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
      <script type="text/javascript">
         function WebSocketTest()
         {
            if ("WebSocket" in window)
            {
                alert("您的浏览器支持 WebSocket!");

                socket = new WebSocket("ws://" + "localhost:8000" + "/mysite/");
                socket.onmessage = function(e) {
                    alert(e.data);
                }
                socket.onopen = function() {
                    socket.send("hello world");
                }
                // Call onopen directly if socket is already open
                if (socket.readyState == WebSocket.OPEN) socket.onopen();
            }

            else
            {
               // 浏览器不支持 WebSocket
               alert("您的浏览器不支持 WebSocket!");
            }
         }
      </script>
</head>
<body>
    <hl style="background-color: antiquewhite;color: black;">hello chark</hl>
    <hl style="...">用户输入</hl>
    <form action="/index/" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="提交"/>
    </form>
    <hr />
    <hl style="...">用户展示</hl>
    <table border="1">
        <thead>
            <th>用户名</th>
            <th>密码</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line.user }}</td>
                    <td>{{ line.pwd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
    <div id="sse">
        <a href="javascript:WebSocketTest()">运行 WebSocket</a>
    </div>
    <script src = "/static/js/jquery-3.1.1.min.js"></script>
</body>
</html>